[Desktop Entry]
Type=Application
Name=DiscFilter
Comment=Automate CD Tasks
Path=/home/rumen/Desktop/MRI
Exec=/home/rumen/Desktop/MRI/disk-operation.sh
Icon=/home/rumen/Desktop/MRI/icon.png
Terminal=true

